<h1>Cocktail List</h1>

<h1>Meet our team</h1>
<div class="list-group">
  <% @cocktails.each do |cocktail| %>
    <a href="<%=cocktail_path(cocktail)%>" class="list-group-item list-group-item-action list-group-item-light"><%=cocktail.name%></a>
  <% end %>
</div>
<%= link_to 'Create a new Cocktail', new_cocktail_path %>
